@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Moral Trend is a non-profit based on the 'Pay it Forward'​ principle, and works by tracking the good deeds that others do for each other by a uniquely-numbered silicon bracelet,<br />
    that users track online, and see their good deeds in real time by following that number on a geo-map and seeing what good deeds have been done before - <br />
    and after - your entry. It is aimed to get youth and adults alike, to participate in the "Pay it Forward"​ concept - "doing unto others". </p>
