<connectionStrings>
  
  
  <add name="moraltrendDBEntities" connectionString="metadata=res://*/Models.moraltrendDB.csdl|res://*/Models.moraltrendDB.ssdl|res://*/Models.moraltrendDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=moraltrend.database.windows.net;initial catalog=moraltrendDB;persist security info=True;user id=adminuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=moraltrend.database.windows.net;initial catalog=moraltrendDB;user id=adminuser;password=MTPassword628;" providerName="System.Data.SqlClient" />


</connectionStrings>
